<p>Añadir comentario:</p>

<form method="post" action="/quizes/<%= quizId%>/comments/">
  <input type="text" id="comment" name="comment[texto]" value="" required="required" />
  <input class="btn" type="submit" value="Publicar" />
</form>
