  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Bienvenido a Quiz</h1>
      <div class="row center">
        <h5 class="header col s12 light">El portal dónde podrá crear sus propios juegos</h5>
      </div>
      <div class="row center">
        <a href="/quizes" id="download-button" class="btn-large waves-effect waves-light orange">Empezar</a>
      </div>
      <br><br>

    </div>
  </div>