<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <header class="jumbotron">
        <h2>Quiz: el juego de las preguntas</h2>
      </header>

      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              Inicio
            </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/quizes">Preguntas</a></li>
              <li class="active"><a href="/author">Créditos</a></li>
            </ul>
          </div>
       </div>
      </nav>

      <section class="main" id="s1">
        <% if(errors.length){ %>
          <div class="system-message-error alert alert-danger">
            <h4>Error</h4>
            <% for(var i in errors){ %>
              <p><%= errors[i].message %></p>
            <% } %>
          </div>
        <% } %>
        <%- body %>
      </section>
      <hr/>
      <footer class="main" id="f1">
        <a target="_blank" href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a>
        <a href="https://github.com/marcnava13/quiz-node" class="btn btn-default pull-right">Ver en Github</a>
      </footer>
    </div>
    <script type='text/javascript' href='/js/bootstrap.min.js'></script>
    <script type='text/javascript' href='/js/jquery-2.1.4.min.js'></script>
  </body>
</html>
